body {
  background: #f8f8f8;
  color: #555555;
  font-family: sans-serif;
  margin:0;
  padding: 0;
  height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  color: #555555
}
ul, p {
  color: #555555;
}
a, a:hover {
  display: block;
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}

.container {
  width: 95%;
  display: flex;
  margin: 0 auto;
}

.header {
  background-color: white;
  box-shadow: 4px 4px 4px #DDDDDD;
  min-height: 67px;
  color: #B9B9C8;
  font-weight: bold;
}
.main-menu {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 67px;
}
.main-menu ul {
  padding-left: 0;
  margin: 0;
}
.main-menu ul li {
  display: inline-block;
}
.main-menu ul li a {
  padding: 1em 2em;
}
.main-menu ul li a:hover {
  opacity: 0.6;
  transition: 1s;
}
.action-list {
  background-color: white;
  padding: 2em;
  box-shadow: 4px 4px 4px #DDDDDD;
  margin-right: 2em;
  height: 100%;

}
.action-list ul {
  padding: 0;
  list-style: none;
}
.action-list ul li a {
  padding: .5em 1em .5em 3em;
  border-bottom: solid 1px #DDDDDD;

}

.flex-display {
  -moz-display:flex;
  -webkit-display:flex;
  display: flex;
}
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
